body {
  margin: 0;
  background-color: #FFF5EC;

}
header {
  background-color: #FFF5EC;
  padding: 15px;
  font-family: "Dela Gothic One", cursive;
  font-size: 40pt;
  color: #e87979;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #FFF5EC;
  padding: 5px;
  color: #e87979;
  font-family: "Dela Gothic One", cursive;
  font-size: 8pt;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;

}
.flex-grid {
  display: flex;
  text-align: left;
  padding: 5px;
  
}
.col {
  flex: 1;
  font-family: 'Dela Gothic One', cursive;
  text-align: left;
}
.card {
  background-color: #FFF5EC;
  height: 400px;
  color:#e87979;
  max-height: 100%;
  min-width: 200px;
  justify-content: space-between;
  margin-left: 10px;
}

.sideMenu {
  background-color: #e87979;
  height: 600px;
  color: #FFF5EC;
  padding: 10px;
}

#panel, #flip {
  text-align: left;
}  

#panel {
  padding: 20px;
  display: none;
}

.copy {
  font-size: 12pt;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
  padding-top: 10px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #e87979;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footerImg {
  height: 50px;
  display: flex;

}
.divid {
  background-color: #FFF5EC;
  height: 2px;
  margin-top: 400px;
}
